.bg-wrapper {
  width: 100%;
  position: relative;
  min-height: 95vh;
  background-image: url('https://assets.log2base2.com/Assets/Signup/background.svg');
  background-position: center center;
  background-repeat: none;
  background-size: cover;
}
